*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width: 420px;
    background-color: #000;
    opacity: 80%;
    color: white;
    padding: 30px 40px;
    border: 2px solid #b9b5b5;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
    position: absolute;
    top: 15%;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid #b9b5b5;
    border-radius: 50px;
    padding: 20px 45px 20px 20px;
    color: #fff;
    font-size: 16px;
}

.input-box input::placeholder{
    color: #fff;
    font-size: 16px;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 20px 0 20px 0;
}

.remember-forgot label input{
    accent-color: #fff;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover{
    background: #00c534;
    color: #fff;
    border-radius: 40px;
}

.register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.input-box span{
    color: red;
    margin: 2px;
}

#fix-error{
    color: red;
}


